---
import { getCollection, type CollectionEntry } from 'astro:content';

import PostsLike from '../../components/PostLike.astro';
import Header from '../../components/Header.astro';
import MainLayout from '../../layouts/MainLayout.astro';
import Footer from '../../components/Footer.astro';

export async function getStaticPaths(){
    const posts = (await getCollection('blog')).reverse();
    console.log(posts);
    return posts.map((post) =>({
        params: {
            slug: post.slug,
        },
        props: {
            post
        },
    }))

}

const post: CollectionEntry<'blog'> = Astro.props.post;

const { Content } = await post.render();

---
<Header />
<MainLayout seo={{ title: post.data.title }}>
    <article 
        class="
            prose 
            dark:prose-invert 
            ml-6
            mr-4
            sm:ml-8 
            my-8 
            prose-a:text-pink-500 
            text-neutral-200
            text-lg
            lg:text-xl
            lg:leading-10
            leading-loose
            "
        >
        <p>There is a known issue for users with "prefers light theme" where browsers change the h2-h6 level headings to pure black - without changing the background colour. The CSS is actually white headings on an almost black background. I'm completely refactoring my Tailwind CSS with two themes.</p>
        <Content />
        <PostsLike slug="{post.slug}"/>
    </article>
</MainLayout>
<Footer />
