/* Nav Bar */

.hamburger, .close {
    border: none;
    cursor: pointer;
    /* position absolute position the icons relative to the body because they have no position relative parents*/
    position: absolute;
    top: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
  }
  
  .hamburger {
    background: transparent;
  }
  
  .close {
    background: pink;
  }
  
  /* .hamburger img, .close img {
    width: 100%;
    height: 100%;
  } */
  
  .navbar {
    position: absolute;
    /* a higher z-index put navbar above hamburger */
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    /* basic menu styling*/
    list-style: none;
    background: #0f172a;
    display: flex;
    flex-flow: column nowrap;
    /* justify-content: space-evenly; */
    padding-top: 2rem;
    align-items: center;
    /* animate slide up/down */
    transform: translateY(-100%);
    transition: transform 0.2s ease;
  }
  
  /* :target is called when its anchor id #navbar is called by clicking on the hamburger which has href="#navbar" */
  
  .navbar:target {
    /* show navbar */
    transform: translateY(0);
  }
  
  li a {
    display: block;
  
    color: #f1f5f9;
    font-weight: bold;
    font-size: 1.2rem;
  
    text-decoration: none;
    /* border-bottom: 1px solid black; */
    padding-bottom: 0.5rem;
  }
  
  nav li a:hover, nav li a:focus {
    /* show border bottom */
    border-bottom: 1px solid white;
  }
  