---

import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout seo={{ title: "About", description: "Accessibilty Statement"}}>
    <div class="flex flex-col items-center gap-8 mx-auto mt-12">
        <h1 class="
            text-heading-1 
            mt-8 
            bg-gradient-to-r
                from-pink-600 to-orange-400 
                inline-block 
                text-transparent 
                bg-clip-text"
                >
            Accessibility
        </h1>

        <p class='mt-2 flex-1 leading-7'>A11y statement here </p>
        <!-- https://racheleditullio.com/accessibility-statement/ -->
    </div>
</MainLayout>