---
import Hero from '../components/Hero.astro';
import PagesLayout from '../layouts/PagesLayout.astro';
import Footer from '../components/Footer.astro';
---
<Hero/>
<PagesLayout>
    <article class="pt-12 ">
  <h1 class="
  text-heading-1 
  my-8
  ml-12
 
  font-display-font 
  bg-gradient-to-r
      from-pink-600 to-orange-400 
      inline-block 
      text-transparent 
      bg-clip-text"
  >Hello World: Is There Anybody Out There?</h1>
  <p class="ml-12 max-w-3xl"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vestibulum blandit eleifend. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus facilisis dolor ullamcorper diam ultrices, nec aliquet purus egestas. Phasellus sit amet tortor vel sapien euismod egestas. Curabitur sit amet facilisis eros, a eleifend leo. Duis sem tortor, pulvinar a urna et, rutrum consectetur sapien. Proin mattis velit et lobortis malesuada. Nam quis vulputate enim. Proin ac leo aliquet, maximus urna ut, dignissim massa.

    Ut sit amet est ante. Maecenas id volutpat justo. Fusce et est ut ipsum convallis imperdiet. Nam massa nibh, dictum in cursus eu, interdum aliquam leo. Quisque rhoncus risus eget arcu tincidunt pellentesque. Vivamus massa neque, maximus eget iaculis ac, rutrum sed ipsum. Cras pellentesque tempus auctor. Nam congue, lectus vel accumsan posuere, turpis eros mollis est, non placerat massa odio sed quam. Nullam condimentum, erat sed facilisis ultrices, orci enim laoreet tortor, id egestas tellus velit at leo. Sed pulvinar, lacus in lacinia imperdiet, velit turpis ultrices orci, a efficitur erat velit quis turpis.
    
    Cras vulputate ultrices eros, ultrices ultricies libero feugiat et. Nam id elit dictum, condimentum magna non, efficitur sapien. Sed ut egestas lacus, ac tempor lacus. Sed id ex dolor. Donec massa mauris, auctor eget scelerisque et, dictum in nibh. Ut varius efficitur enim, eget sollicitudin mi viverra fermentum. Morbi eu nisl in purus facilisis imperdiet vel vitae quam. Duis consectetur varius laoreet. Ut eget semper metus, vitae malesuada ex. Ut ut accumsan urna. Maecenas commodo viverra lorem, et congue tortor hendrerit sagittis.
    
    Vestibulum eros purus, ullamcorper et tincidunt ut, egestas id elit. Mauris consequat accumsan accumsan. In suscipit fermentum consequat. Nulla suscipit commodo pharetra. Nullam vel nulla eget est porta hendrerit ut non quam. Nunc eu elit bibendum, venenatis neque ut, consectetur nunc. Aenean quis leo massa. Donec pharetra velit vel urna posuere tempor bibendum sit amet turpis. Quisque at justo in elit ornare vulputate eu ac massa. Nulla eget elit non erat venenatis lobortis. Proin eu tincidunt ante, nec rhoncus tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
</article>
</PagesLayout>
<Footer />