---
import { getCollection } from 'astro:content';
// import { Image } from 'astro:assets';
import Header from '../components/Header.astro';
import MainLayout from '../layouts/MainLayout.astro';
import Footer from '../components/Footer.astro';

// import avatar from '../assets/avatar.png';

// import Link from '../components/Link.astro';

import PostsList from '../components/PostsList.astro';

import '../styles/index.css';

const posts = await getCollection('blog');
---
<Header />
<!-- <MainHeader /> -->
<MainLayout seo={{ title: "Welcome to GingerKiwi.dev"}}>
	<div class='flex flex-col mx-6 bg-slate-300 text-sky-900 font-bold max-w-xl rounded-md mt-4 px-5 py-2 border-8 border-pink-800 '>
		<h2 class="py-2 text-pink-800 text-xl">BUILDING IN PUBLIC &#x1F973;</h2>
		<p>Things might look a little janky for a bit, but that&#x0027;s okay! </p>
			<p class="py-2">I am in the process of completely rebuilding my blog with Astro and combining it with my dev portfolio at gingerkiwi.dev. <br>Less to maintain is awesome!</p>

			
				<h3 class="text-pink-800 mt-4">Next tasks</h3>
				<ul class="list-disc">
					<li>
						Tidy up the CSS
					</li>
					<li>
						 Add the alt text back to the article cover images
					</li>
					<li>
						Set up draft true/false for posts
					</li>
					<li>
						Create tag pages for major article categories and series
					</li>
				</ul>

			<p class="mt-6">Thanks to <a href="https://nikolovlazar.com" class="text-pink-800 hover:text-green-600 hover:text-lg underline">Lazar Nikolov</a> for his new <a href="https://egghead.io/courses/build-a-full-stack-blog-with-astro-7ffcf9ec" class="text-pink-700 hover:text-green-600 hover:text-lg underline">Astro Course </a> on Egghead.io which is the inspiration for my finally redeveloping my sites.</p>
			
			<!-- <p class="py-2">For a full list of my articles with images (including cat photos!) please visit <a href="http://gingerkiwi.blog" class="text-pink-800 hover:text-green-600 hover:text-lg underline">https://gingerkiwi.blog</a> </p> -->
	</div>
	<div class='h-64 flex flex-col justify-center items-start mx-6'>
		<h1 class="
		text-heading-1 
		mt-8 
		bg-gradient-to-r
			from-pink-600 to-orange-400 
			inline-block 
			text-transparent 
			bg-clip-text">
		Nice to Meet You! <br/>I'm Liz McCready</h1>
			<p class='my-6 max-w-2xl text-xl tracking-wider'>
				Based in Toronto, Canada, I&#x0027;m a software developer, technical content writer, and former adaptive tech specialist passionate about building beauitful accessible web apps and solving puzzles with others.
			</p>
	</div>
	<!-- <Image 
        src={ avatar } 
        alt="graphic of a redhead woman with a ponytail behind a laptop computer" 
        width={486}
        quality='max'
        class='h-auto max-w-xs rounded-lg'
        />
	</Image> -->
	<div class='flex flex-col mx-6'>
		<h2 class='text-2xl font-semibold'>Recent Blog Posts</h2>
		<PostsList posts={posts.slice(0, 4)}/>
	  </div>
	
	
</MainLayout>
<Footer />
