---
interface Props {
    href: string;
    rel?: string;
    isExternal?: boolean;
    class?: string;
}

const { href, rel = '', isExternal, class: classList } = Astro.props;
---

<a 
    href={href} 
    class:list={['hover:text-blue-900', classList]} 
    rel="{`${rel}${isExternal ? ' nofollow noopener noreferrer external' : ''}`">
    <slot />
</a>

