---
interface Props {
    href: string;
    rel?: string;
    isExternal?: boolean;
    class?: string;
}

const { href, rel = '', isExternal, class: classList } = Astro.props;
---

<a 
    href={href} 
    class:list=
        {['mx-3 hover:py-1 hover:px-2 hover:mx-0 hover:underline hover:font-bold hover:underline-offset-8 focus:mx-0 focus:underline focus:font-bold focus:underline-offset-8', classList]} 
    rel="{`${rel}${isExternal ? ' nofollow noopener noreferrer external' : ''}`">
    <slot />
</a>

