---
import Link from '../components/Link.astro';
import { SEO } from 'astro-seo';
import '../styles/index.css';

interface Props {
	title: string;
}

const { seo } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon-gk.png" />
		<meta name="generator" content={Astro.generator} />
		
		<SEO 
		{...seo}
		title={seo?.title ?? 'Ginger Kiwi - Liz McCready'}
		description={seo?.description ?? "Liz McCready's personal blog and portfolio site"}
		/>
	</head>
	<body>
		<div class='flex justify-between items-center py-4 bg-orange-700'>
			<header>
			  <a href='/' class='font-bold text-2xl hover:text-blue-900'
				>GingerKiwi ❤️ Astro</a
			  >
			  <!-- <span class='text-tagline'>Exploring Web Development, Accessibility, and Design </span> -->
			</header>
			<nav>
			  <ul class='flex gap-4'>
				<li><Link href='/'>Home</a></li>
				<li><Link href='/about'>About</a></li>
				<li><Link href='/blog/1'>Blog</a></li>
				<li>
				  <Link href='https://github.com/gingerkiwi' isExternal> GitHub</Link>
				</li>
			  </ul>
			</nav>
		  </div>
		  <main class='flex-1'>
			<slot />
		  </main>
		  <footer class='w-full mx-auto text-center py-4'>
			<span>© {new Date().getFullYear()} Elizabeth McCready.</span>
		  </footer>
	</body>
</html>
<style is:global>
	:root {
		--accent: 16, 69, 42; 
		--accent-light: 337, 74, 45; 
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #052029;
		color: #f6f6f6;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
