---
// import Link from '../components/Link.astro';
// import LinkNav from "../components/LinkNav.astro";
import { SEO, type Props as SEOProps } from "astro-seo";
import "../styles/index.css";
interface Props {
  seo?: SEOProps;
}

const { seo } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="./public/favicon-gk.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <SEO
      {...seo}
      title={seo?.title ?? "Ginger Kiwi - Liz McCready"}
      description={seo?.description ??
        "Liz McCready's personal blog and portfolio site"}
    />
  </head>
  <body class="flex flex-col min-h-screen">
  
    <main class="flex-1">
      <slot />
    </main>
  </body><style is:global>
    :root {
      --accent: 16, 69, 42;
      --accent-light: 337, 74, 45;
      --accent-dark: 49, 10, 101;
      --bg-medium-dark: #111827;
      --bg-dark-article: #04171d;
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
      );
    }
    html {
      font-family: system-ui, sans-serif;
      background: var(--bg-medium-dark);
	  /* background: linear-gradient(180deg, var(--bg-medium-dark), var(--bg-dark-article)); */
	  /* Use line below for testing  */
	  /* background: linear-gradient(0deg, blue, green 40%, red); */
      color: #f6f6f6;
      background-size: 224px;
    }
    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }

    h1 {
		color: bg-gradient-to-right from-pink-700 to-orange-700;
	}
  </style>
</html>