---
// import Link from '../components/Link.astro';
// import LinkNav from "../components/LinkNav.astro";
import { SEO, type Props as SEOProps } from "astro-seo";
import "../styles/index.css";
interface Props {
  seo?: SEOProps;
}

const { seo } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon-gk.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&family=Trocchi&display=swap" rel="stylesheet">
    

    <SEO
      {...seo}
      title={seo?.title ?? "Ginger Kiwi - Liz McCready"}
      description={seo?.description ??
        "Liz McCready's personal blog and portfolio site"}
    />
  </head>
  <body class="flex flex-col min-h-screen">
  
    <main class="flex-1 
    text-slate-950 
    bg-sky-100  
    
    dark:bg-slate-950 
    dark:text-sky-100
    ">
      <slot />
    </main>
  </body>
  
  <style is:global>
    :root {
      --accent: 16, 69, 42;
      --accent-light: 337, 74, 45;
      --accent-dark: 49, 10, 101;
      --bg-medium-dark: #111827;
      --bg-dark-article: #04171d;
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
      );
    }
    html {
      font-family: system-ui, sans-serif;
      /* background: #030712; */
	  /* background: linear-gradient(180deg, var(--bg-medium-dark), var(--bg-dark-article)); */
	  /* Use line below for testing  */
	  /* background: linear-gradient(0deg, blue, green 40%, red); */
      /* color: #f6f6f6; */
      background-size: 224px;
    }
    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }

    h1 {
		color: bg-gradient-to-right from-pink-700 to-orange-700;
	}
  body {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;

    
    /* font-family: 'Pacifico', sans-serif; */
  }
  </style>
</html>